.form {
    /* 设置 form 的宽度为 400px */
    width: 400px;
    /* 设置 form 边缘 0, 居中 */
    margin: 0 auto;
}

.footer {
    /* 设置 footer 文本排列居中 */
    text-align: center;
}

.news-image {
    /* 设置 image 宽度为 720px */
    width: 720px;
    /* 设置 image 边缘自动, 居中 */
    margin: auto;
}

a,
a:hover,
a:visited {
  text-decoration: none !important;
}

.source_type,
.source_name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.source img {
  height: 160px !important;
}
